/* Styles for the TickerBanner component */

.bg-blue-500 {
  background-color: var(--secondary);
}

.text-white {
  color: var(--light);
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
}

.marquee-content {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}